*~ 
*.tmp

#Ignore files and directories
week1/code/*.tif
week1/sandbox/
week1/code/*.log
week1/code/.txt
week3/sandbox/
week7/sandbox/
MiniProject/sandbox/
GIS/sandbox/
Genomics/sandbox/
Project/sandbox/



#Keep gitkeep
!*.gitkeep



